/* Simple Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ol,
ul {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  overflow-wrap: break-word;
}

/* NAVBAR STYLES */

.nav--container {
  display: flex;
  padding: 2.4rem 1.8rem;
  align-items: center;
  justify-content: space-between;
}

.paw-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.4rem;
  height: 4.2rem;
  border-radius: 3rem;
  background: linear-gradient(270deg, #fa695a 0%, #f83375 100%);
}

/* MAIN SECTION -- USER PHOTO */

.photo__fill {
  max-width: 50rem;
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
}

.photo__fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 15px;
  padding: 1.2rem;
  border-radius: 25px;
}

.user--info,
.user--status {
  position: absolute;
  left: 2rem;
  color: #fff;
}

.user--info {
  bottom: 4rem;
  letter-spacing: 1px;
}

.user--status {
  bottom: 2rem;
}
/* SECTION -- BTN ACTIONS */

.btn--actions {
  margin-top: auto;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.btn {
  border: none;
  background-color: #fff;
  width: 8.2rem;
  height: 8.2rem;
  border-radius: 50%;
  box-shadow: 0px 10px 20px #e9e9ea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--nope:hover {
  background-color: #ffe7ef;
  cursor: pointer;
}

.btn--like:hover {
  background-color: #dbfff4;
  cursor: pointer;
}

/* BADGES STYLES */

.badge {
  width: 16rem;
  height: auto;
  position: absolute;
  top: 16vh;
  left: 5vw;
  z-index: 55;
  transform: rotate(-30deg);
}

.no-users {
  color: #343434;
  padding: 1.2rem;
}

.m-1 {
  margin: 1rem 0;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  section,
  .nav--container {
    max-width: 50rem;
    margin: 0 auto;
  }

  .badge {
    width: 20rem;
    left: 10vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  section,
  .nav--container {
    max-width: 50rem;
    margin: 0 auto;
  }

  .badge {
    width: 20rem;
    left: 28vw;
  }
}

@media only screen and (min-width: 1025px) {
  section,
  .nav--container {
    max-width: 50rem;
    margin: 0 auto;
  }

  .badge {
    width: 20rem;
    left: 32vw;
  }
}
